@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.body {
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
}

.left {
  background-color: #2B2837;
  max-height: fit-content;
}

.right {
  background-color: #383737;
  max-height: fit-content;
}

.details {
  background-color: #383737;
}

.chat {
  background-color: #3837374b;
  min-height: 50px;
  max-height: fit-content;
}

.input {
  background-color: #383737ad;
  width: 600px;
  resize: none;
  height: 40px;
  min-height: 40px;
  overflow-y: hidden;
}
.output {
  max-width: fit-content;
  max-height: fit-content;
  min-width: 800px;
  min-height: 150px;
  padding: 10px 20px;
  /* background-color: #383737ad; */
}

.image {
  width: 900px;
  /* margin-right: 30px; */
}

.google {
  width: 60px;
  text-align: center;
}